<div class="row news-story">

    <!--<div class="progress-zone" ng-show="isLoading">-->
    <!--<md-progress-circular md-mode="indeterminate" class="md-accent block-center" md-diameter="96"></md-progress-circular>-->
    <!--<h3 class="text-center exo"> Loading... </h3>-->
    <!--</div>-->
    <!--ng-repeat="story in home.articles track by $index"-->

    <div class="news col-sm-12 col-md-12 col-lg-12">

        <header class="flex-sides">
            <div class="news-source-info flex-sides">

                <div class="news-source-logo flex-down">
                    <img ng-src="assets/img/news-sources/cnn.png" alt="news-source-logo.png">
                </div>

                <div class="news-source flex-down">
                    <p class="news-source-company exo">
                        <a ng-href="www.google.com"> CNN </a>
                    </p>
                </div>

            </div>

            <div class="flex-down article-info">
                <p class="article-author exo">
                    Bob Lemire
                </p>
                <p class="article-date exo">
                    Dec 13
                </p>
            </div>

        </header>

        <div class="thumbnail card card-2">

            <img class="news-media" ng-src="{{story.urlToImage}}" alt="...">

            <div class="caption">
                <h3 class="news-title exo"> {{story.title}} </h3>
                <p class="news-desc roboto">
                    {{story.description}}
                    <span class="bold exo">
                        <a ng-href="{{story.url}}"> Read More
                            <!--<i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
                        </a>
                    </span>
                </p>
                <div class="story-reactions-actions flex-sides">

                    <div class="left-reactions flex roboto" ng-cloak>
                        <i
                                class="heart fa fa-heart-o button"
                                aria-hidden="true"
                                ng-class="{
                                'reaction-chosen': home.disableHeart,
                                animated: home.disableHeart,
                                pulse: home.disableHeart,
                            }"
                                ng-click="home.changeReactionStatus('heart')">
                        </i>
                        <i
                                ng-init=""
                                class="dislike fa fa-thumbs-o-down button"
                                aria-hidden="true"
                                ng-class="{
                                'reaction-chosen': home.disableDislike,
                                animated: home.disableDislike,
                                swing: home.disableDislike
                            }"
                                ng-click="home.changeReactionStatus('dislike')">
                        </i>
                    </div>

                    <div class="right-actions flex-sides">
                        <button type="button" class="btn btn-link exo" ng-click=home.changeActionStatus('interesting')>
                            <i
                                    class="fa fa-lightbulb-o"
                                    aria-hidden="true"
                                    ng-class="{
                                animated: home.showInterest,
                                tada: home.showInterest,
                                interesting: home.showInterest,
                                'fa-lg': home.showInterest,
                            }">
                            </i>
                            Interesting
                        </button>
                        <button type="button" class="btn btn-link exo" ng-click="home.changeActionStatus('save')">
                            <i
                                    class="fa fa-check"
                                    aria-hidden="true"
                                    ng-class="{
                                animated: home.saveNewsStory,
                                tada: home.saveNewsStory,
                                save: home.saveNewsStory,
                                'fa-lg': home.saveNewsStory
                            }">
                            </i>
                            Save
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

