<div class="row news-story">

    <div class="news col-sm-12 col-md-12 col-lg-12" ng-repeat="story in articles">

        <header class="flex-sides">
            <div class="news-source-info flex-sides">

                <div class="news-source-logo flex-down">
                    <img ng-src="{{newsSource.newsSourceLogo}}" alt="news-source-logo.png">
                </div>

                <div class="news-source flex-down">
                    <p class="news-source-company exo">
                        <a href=""> {{newsSource.newsSourceTitle}} </a>
                    </p>
                    <p class="news-source-author exo"> {{story.author}} </p>
                </div>

            </div>
        </header>

        <div class="thumbnail card card-2">

            <img class="news-media" ng-src="{{story.urlToImage}}" alt="...">

            <div class="caption">
                <h3 class="news-title exo"> {{story.title}} </h3>
                <p class="news-desc roboto">
                    {{story.description}}
                    <span class="bold exo">
                        <a ng-href="{{story.url}}"> Read More
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </span>
                </p>
                <div class="story-reactions-actions flex-sides">

                    <div class="left-reactions flex roboto" ng-cloak>
                        <i
                            class="heart fa fa-heart-o button"
                            aria-hidden="true"
                            ng-class="{
                                'reaction-chosen': disableHeart,
                                animated: disableHeart,
                                pulse: disableHeart,
                            }"
                            ng-click="changeReactionStatus('heart')">
                        </i>
                        <i
                            ng-init=""
                            class="dislike fa fa-thumbs-o-down button"
                            aria-hidden="true"
                            ng-class="{
                                'reaction-chosen': disableDislike,
                                animated: disableDislike,
                                swing: disableDislike
                            }"
                            ng-click="changeReactionStatus('dislike')">
                        </i>
                    </div>

                    <div class="right-actions flex-sides">
                        <button type="button" class="btn btn-link exo" ng-click=changeActionStatus('interesting')>
                          <i
                            class="fa fa-lightbulb-o"
                            aria-hidden="true"
                            ng-class="{
                                animated: showInterest,
                                tada: showInterest,
                                interesting: showInterest,
                                'fa-lg': showInterest,
                            }">
                          </i>
                          Interesting
                        </button>
                        <button type="button" class="btn btn-link exo" ng-click="changeActionStatus('save')">
                          <i
                            class="fa fa-check"
                            aria-hidden="true"
                            ng-class="{
                                animated: saveNewsStory,
                                tada: saveNewsStory,
                                save: saveNewsStory,
                                'fa-lg': saveNewsStory
                            }">
                          </i>
                          Save
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
