/*layout*/
.flex-down{
    display: flex !important;
    flex-flow: column !important;
}
.flex-sides{
    display: flex !important;
    flex-flow: row !important;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.block-center{
    margin: 0 auto;
}



/*text*/
.roboto{
    font-family: 'Roboto';
}
.lobster{
    font-family: 'Lobster';
}



/*images*/

