/*layout*/
.flex-down {
    display: flex !important;
    flex-flow: column !important;
}

.flex-sides {
    display: flex !important;
    flex-flow: row !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.block-center {
    margin: 0 auto;
}

/*text*/
.roboto {
    font-family: 'Roboto';
}

.lobster {
    font-family: 'Lobster';
}

.baloo {
    font-family: 'Baloo Bhaina', cursive;
}

.abril {
    font-family: 'Abril Fatface', cursive;
}

.fredoka {
    font-family: 'Fredoka One', cursive;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.exo {
    font-family: 'Exo', sans-serif;
}

.lucky {
    font-family: 'Luckiest Guy', cursive;
}

a, button, a:hover, button:hover {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

/*images*/
