<div layout="column" class="home-view flex-down">
    <div class="header-section flex-down">

        <header layout="column" class="flex-down">
            <img src="./assets/img/feeder-logo.png" class="block-center" alt="feeder-logo.png">
        </header>

        <section layout="row">
            <aside flex="25">
                <p class="text-center"> Top/Latest/Popular </p>
            </aside>
            <article flex="75">
                <p class="text-center"> News Story </p>
            </article>
            <aside flex="25">
                <p class="text-center"> Categories </p>
            </aside>
        </section>

    </div>
</div>
