<div layout="column" class="home-view flex-down" style={{home.coverColor}}>

    <div class="header-section flex-down">

        <!--<header layout="column" ng-click="home.getRandomHeadlines()">-->
            <!--<section layout="column" flex="25" class="text-center flex-down">-->
                <!--<img ng-src="assets/img/feeder-logo.png" class="block-center hvr-bob" alt="feederlogo">-->
            <!--</section>-->
        <!--</header>-->

        <section layout="row">

            <aside layout="column" flex="20" class="aside-left text-center exo card card-3" ng-class="{
                                'overflow-tlp-blocks': !home.showNewsSourcesGallery
                            }">

                <div class="news-source-gallery" ng-hide="home.showNewsSourcesGallery">
                    <div layout="column"
                         class="news-source-block card button hvr-bob"
                         ng-repeat="newsSource in home.newsSources"
                         ng-click="home.alterTLPGalleryDisplay(newsSource.sourceId)">
                         <span>
                            <img ng-src="{{newsSource.newsSourceLogo}}" alt="{{newsSource.newsSourceTitle}}">
                            <md-tooltip md-direction="right">
                                {{newsSource.newsSourceTitle}}
                            </md-tooltip>
                         </span>
                    </div>
                </div>

                <div class="TLP" ng-show="home.showNewsSourcesGallery">
                    <div layout="column" class="TLP-block top card card-3 animated slideInUp" style="z-index: 3"
                         ng-click="home.getNewsBySourceId('top')">
                        <img ng-src="assets/img/TLP-blocks/top-news-icon.png" class="card card-5" alt="top-news-icon.png">
                        <p class="TLP-title"> Top </p>
                    </div>
                    <div layout="column" class="TLP-block latest card card-3 animated slideInLeft" style="z-index: 2"
                         ng-click="home.getNewsBySourceId('latest')">
                        <img ng-src="assets/img/TLP-blocks/latest-news-icon.png" class="card card-5"
                             alt="latest-news-icon.png">
                        <p class="TLP-title"> Latest </p>
                    </div>
                    <div layout="column" class="TLP-block popular card card-3 animated slideInDown" style="z-index: 1"
                         ng-click="home.getNewsBySourceId('popular')">
                        <img ng-src="assets/img/TLP-blocks/popular-news-icon.png" class="card card-5"
                             alt="popular-news-icon.png">
                        <p class="TLP-title"> Popular </p>
                    </div>
                </div>

            </aside>

            <article flex="60">
                <progress-bar-directive></progress-bar-directive>
                <news-story-directive></news-story-directive>
                <news-category-directive></news-category-directive>
            </article>


            <aside flex="20" class="aside-right text-center card card-3">

                <p class="categories-title text-right">
                    Categories
                </p>

                <div layout="column" class="categories text-left">
                    <md-button
                            class="md-primary text-left button hvr-grow hvr-sweep-to-left"
                            style="transition: all 0.5s ease; font-size: 1.50VW; padding: 1.50%; margin: 1.50%;"
                            ng-repeat="category in home.newsCategories"
                            ng-click="home.getNewsByCategory(category)">
                        {{category}}
                    </md-button>
                </div>

            </aside>

        </section>

    </div>

</div>
