<div layout="column" class="home-view flex-down">
    <div class="header-section flex-down">

        <!-- <header layout="row"> -->
        <header layout="column">
            <!-- <section layout="column" flex="25" class="text-center flex-down"> -->
                <!--<img src="./assets/img/feeder-logo.png" class="block-center" alt="feeder-logo.png">-->
            <!-- </section> -->
            <!-- <nav flex="75" layout="column" class="categories">
                <div layout="row" class="text-left">
                    <md-button class="md-raised text-center" ng-repeat="category in newsCategories"> {{category}} </md-button>
                </div>
            </nav> -->
        </header>
        <!-- </header> -->

        <section layout="row">
            <aside layout="column" flex="20" class="aside-left text-center">

                <div layout="column" class="TLP-block top card card-3" style="z-index: 3">
                    <img src="assets/img/top-news-icon.png" class="card card-5" alt="top-news-icon.png">
                    <p class="TLP-title"> Top </p>
                    <!-- <p class="TLP-desc"> Top News in Order </p> -->
                </div>
                <div layout="column" class="TLP-block latest card card-3" style="z-index: 2">
                    <img src="assets/img/latest-news-icon.png" class="card card-5" alt="latest-news-icon.png">
                    <p class="TLP-title"> Latest </p>
                    <!-- <p class="TLP-desc"> Sorted in Chronological Order, Newest First </p> -->
                </div> 
                <div layout="column" class="TLP-block popular card card-3" style="z-index: 1">
                    <img src="assets/img/popular-news-icon.png" class="card card-5" alt="popular-news-icon.png">
                    <p class="TLP-title"> Popular </p>
                    <!-- <p class="TLP-desc"> Most Popular or Currently Trending  </p> -->
                </div>

            </aside>
            <article flex="60">
                <p class="text-center"> News Story News StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews StoryNews Story </p>
            </article>
            <aside flex="20" class="aside-right text-center">
                <p class="categories-title text-right">
                    Categories
                </p>
                <div layout="column" class="categories text-left">
                    <md-button class="md-raised text-left button hvr-grow hvr-sweep-to-left" style="transition: all 0.5s ease;" ng-repeat="category in newsCategories"> {{category}} </md-button>
                </div>
            </aside>
        </section>

    </div>
</div>
