<div layout="column" class="home-view flex-down">
    <div class="header-section flex-down">

        <header layout="column" class="flex-down">
            <img src="./assets/img/feeder-logo.png" class="block-center" alt="feeder-logo.png">
        </header>

        <section layout="row">
            <aside flex="25" class="aside-left flex-down">

                <div class="TLP-block top card card-1 flex-down">
                    <img src="assets/img/top-news-icon.png" class="block-center" alt="">
                    <h2 class="text-center"> Top </h2>
                </div>
                <div class="TLP-block latest card card-1 flex-down">
                    <img src="assets/img/latest-news-icon.png" class="block-center" alt="">
                    <h2 class="text-center"> Latest </h2>
                </div>
                <div class="TLP-block popular card card-1 flex-down">
                    <img src="assets/img/popular-news-icon.png" class="block-center" alt="">
                    <h2 class="text-center"> Popular </h2>
                </div>

            </aside>
            <article flex="75">
                <p class="text-center"> News Story </p>
            </article>
            <aside flex="25" class="aside-right">
                <p class="text-center"> Categories </p>
            </aside>
        </section>

    </div>
</div>
