.home-view{
    border: 1px solid red;
    margin: 0 auto;
    height: 100VH;
    width: 100VW;
    justify-content: center;
}



.home-view .header-section{
    /*background: lightgray;*/
    height: 95VH;
    justify-content: space-between;
}



.home-view .header-section header{
    height: 20VH;
    justify-content: center;
}
.home-view .header-section header img{
    height: 20VH;
    width: auto;
}



.home-view .header-section section{
    height: 75VH;
}
.home-view .header-section section aside{
    /*background: greenyellow;*/
}
.home-view .header-section section .aside-left{
    /*justify-content: center;*/
    /*min-width: 25VW;*/
}
.home-view .header-section section aside .TLP-block{
    width: 100%;
    min-width: 25VW;
    height: calc( (75VH / 3));
    margin: 0px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    transition: all 0.5s ease;
    color: gray;
    cursor: pointer;
}
.home-view .header-section section aside .TLP-block:hover{
    transform: scale(1.075);
    /*transition: all 0.5s ease;*/
    background: #F10026;
    color: white;
    width: 150%;
    z-index: 100 !important;
}

.home-view .header-section section aside .TLP-block img{
    height: calc( (75VH / 3) * 0.20);
    width: auto;
    object-fit: contain;
    margin: 0 auto;
    padding: 5%;
    border-radius: 50%;
}
.home-view .header-section section aside .TLP-block .TLP-title{
    font-size: calc( (75VH / 3) * 0.125);
    font-weight: 200;
}
.home-view .header-section section aside .TLP-block .TLP-desc{
    color: gray;
}
/*.home-view .header-section section .aside-right .categories-title{
    font-size: 20px;
    font-weight: 200;
    color: black;
    border-bottom: 5px solid lightgray;
    padding: 6px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 4VH;
}
.home-view .header-section section .aside-right .categories{
    width: 90%;
    height: auto;
    margin: 0 auto;
    transition: all 0.5s ease;
}*/
.home-view .header-section section article{
    background: yellow;
}
