.home-view{
    border: 1px solid red;
    margin: 0 auto;
    height: 100VH;
    width: 100VW;
    justify-content: center;
}



.home-view .header-section{
    background: lightgray;
    height: 95VH;
    justify-content: space-between;
}



.home-view .header-section header{
    background: blanchedalmond;
    height: 20VH;
    justify-content: center;
}
.home-view .header-section header img{
    height: 15VH;
    width: 30VH;
}



.home-view .header-section section{
    height: 75VH;
}
.home-view .header-section section aside{
    background: greenyellow;
}
.home-view .header-section section .aside-left{
    justify-content: center;
}
.home-view .header-section section aside .TLP-block{
    width: 90%;
    height: calc( (75VH / 3));
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    transition: all 0.4s ease;
    color: gray;
}
.home-view .header-section section aside .TLP-block:hover{
    transform: scale(1.075);
    transition: all 0.4s ease;
    background: #F10026;
    color: white;
}
.home-view .header-section section aside .TLP-block img{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    padding: 12.5px;
    border-radius: 50%;
}
.home-view .header-section section aside .TLP-block p{
    font-size: 25px;
    font-weight: 200;
}
.home-view .header-section section article{
    background: yellow;
}
