.news-story{
	width: 100%;
	height: 100%;
    /*padding: 2.5%;*/
	/*background: lightgray;*/
    /*border: 1px solid red;*/
    overflow: auto;
    margin: 0 auto;

}



.news-story .news header {
    justify-content: space-between;
    height: 7.5VH;
}
.news-story .news header .news-source-info{
    justify-content: flex-start;
}
.news-story header .news-source-logo{
    justify-content: center;
}
.news-story header .news-source-logo img{
    height: 4VW;
    /*padding: 5%;*/
    border-radius: 50%;
    border: 1px solid black;    
    width: auto;
}
.news-story header .news-source{
    justify-content: center;
    padding-left: 5%;
}
.news-story header .news-source .news-source-company, .news-story header .news-source .news-source-author{
    margin-bottom: 0px;
}
.news-story header .news-source .news-source-company{
    /*color: #F10026;*/
    font-weight: bold;
    font-size: 2VH;
}
.news-story header .news-source .news-source-company a{
    color: #F10026;
    text-decoration: none;
}
.news-story header .news-source .news-source-author{
    font-size: 1.75VH;
    color: darkgrey;
}
.news-story header .share{
    justify-content: center;
    /*padding-right: 1%;*/
}
.news-story header .share span{
    font-size: 2.5VW;
    cursor: pointer;
    color: #F10026;

}
.news-story .thumbnail .news-title{
    font-size: 2.75VW;
    color: slategray;
    font-weight: 800;
    margin-top: 1.5%;
    margin-bottom: 3%;
}
.news-story .thumbnail .news-desc{
    color: gray;
    font-size: 1.125VW;
}
.news-story .thumbnail .story-reactions-actions{
    justify-content: flex-end;
}
.news-story .thumbnail .story-reactions-actions .left-reactions i{
    padding-right: 20%;
    padding-top: 10%;
    font-size: 3VW;
    cursor: pointer;
    transition: all 0.5s ease;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.news-story .thumbnail .story-reactions-actions .left-reactions i:hover{
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    color: #F10026;
}
.news-story .thumbnail .story-reactions-actions .left-reactions .hide-initial{
    color: #F10026;
}





